@font-face {
    font-family: 'DSEG';
    src: url('./DSEG7-Classic Font DSEG by けしかん/DSEG7Classic-Regular.ttf');
  }

#time {
    font-family: 'DSEG';
    width: 400px;
    font-size: 50px;
    margin: 50px auto;

  }

#start, #stop, #reset {
      font-size: 1.4em;
      font-weight: bold;
      padding: 10px 30px;
      background-color: royalblue;
      color: #fff;
      border-style: none;
      border-radius: 5px;
      margin: 50px 0 50px 15%;
      width: 12%;
}

#start {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: royalblue;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    margin: 50px 0 50px 29%;
    width: 12%;
}

#stop{
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: royalblue;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    margin: 50px 0 50px 2%;
    width: 12%;
}

#reset {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: royalblue;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    margin: 50px 0 50px 2%;
    width: 12%;
}
